/*******************************************************
*                      Universal                       *
*******************************************************/

body {
  background-color: white;
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
}

.Heading {
  text-align: center;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 4px;
  background: transparent;
}

.progress-bar {
  height: 4px;
  background: blue;
  width: 0%;
}
/*******************************************************
*                   For Navigation Bar                 *
*******************************************************/

.navbar {
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0px;
  z-index: 20;
  padding: 2px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0%;
  max-width: 1500px;
  position: relative;
}

.nav-logo {
  color: #000;
  align-items: center;
  margin-left: 3%;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  flex-grow: 1;
  transition: flex-grow 2s ease;
  display: flex;
  justify-items: center;
  text-shadow: 1px 1px 1px #fff, 1px 1px 1px #fff, 1px 1px 1px #fff,
    1px 1px 1px #fff;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  margin-top: 2%;
  font-size: 1.25rem;
}

.nav-item {
  line-height: 30px;
  margin-right: 1rem;
  font-weight: 500;
}

.nav-links {
  text-decoration: none;
  color: #000;
  text-shadow: 1px 1px 1px #fff, 1px 1px 1px #fff, 1px 1px 1px #fff,
    1px 1px 1px #fff;
}

.nav-logo:hover,
.nav-item:hover,
.nav-links:hover {
  /* color: #0f0; */
  color: aqua;
  text-shadow: 1px 1px 1px #000, 1px 1px 1px #000, 1px 1px 1px #000,
    1px 1px 1px #000;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease-in-out;
}

.nav-item:hover:after {
  width: 100%;
  background: blue;
}

.nav-item .active {
  color: aqua;
  border: 1px solid #ffdd40;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 1065px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -800%;
    opacity: 1;
    font-size: 1.4rem;
    transition: all 1s ease-in-out;
  }

  .nav-menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .nav-logo {
    flex-grow: 0.05;
    font-size: 1.5 rem;
    transition: font-size 2s ease, flex-grow 2s ease;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 60%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #000;
  }
}

/*******************************************************
*                      For Home Page                   *
*******************************************************/

.Home {
  /* border: 3px solid black; */
  /* background-color: #f3f6ef; */
  width: 99%;
  margin-left: 0.5%;
  display: flex;
  align-items: center;
}

.HomeDesc {
  width: 50%;
  /* border: 3px solid orange; */
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  align-content: space-evenly;
  flex-direction: column;
}

.HomeDesc h1 {
  /* border: 3px solid pink; */
  width: auto;
  margin-left: 25%;
  flex-direction: row;
}

.HomeImg {
  /* border: 3px solid red; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile {
  width: 70%;
  margin: 10% 15%;
  border-radius: 40% 10%;
  border: 3px solid greenyellow;
}

/*******************************************************
*                      For About                       *
*******************************************************/

.About {
  /* border: 3px solid black; */
  display: flex;
  /* background-color: #e6fff9; */
  justify-content: space-evenly;
  align-items: center;
}

.About .AboutPara {
  /* border: 3px solid black; */
  width: 70%;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: justify;
}

/*******************************************************
*                     For Projects                     *
*******************************************************/

.Projects {
  /* border: 3px solid blue; */
  /* background-color: #f3f6ef; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  flex-wrap: wrap;
}

.Projects .ProjectCard {
  min-width: 300px;
  max-width: 300px;
  max-height: 390px;
  min-height: 390px;
  padding: 20px 0px;
  overflow: auto;
  border-radius: 10px 50px;
  margin: 20px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.ProjectCard h2,
.ProjectCard h3,
.ProjectCard p {
  /* border: 3px solid black; */
  margin: 2px;
}

.ProjectCard h2 {
  text-align: center;
  margin: 15px 30px;
}

.ProjectCard p {
  padding: 0px 30px;
  text-align: justify;
  line-height: 25px;
}

::-webkit-scrollbar {
  display: none;
}

.ProjectCard:nth-child(odd) {
  border: 3px solid forestgreen;
  background: #adf7b6;
}

.ProjectCard:nth-child(even) {
  border: 3px solid burlywood;
  background: #fcf5c7;
}

.ProjectCard img {
  border-radius: 20%;
  min-height: 150px;
  width: 150px;
}

/*******************************************************
*                      For Skills                      *
*******************************************************/

.Skills {
  /* border: 3px solid blue; */
  /* background-color: #e6fff9; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  flex-wrap: wrap;
}

.Skills .SkillCard {
  min-width: 250px;
  padding: 20px 0px;
  border-radius: 50px 10px;
  margin: 40px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SkillCard:nth-child(odd) {
  border: 3px solid forestgreen;
  background: #adf7b6;
}

.SkillCard:nth-child(even) {
  border: 3px solid burlywood;
  background: #fcf5c7;
}

.SkillCard img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

/*******************************************************
*                      For Contact                     *
*******************************************************/

.Contact {
  /* border: 3px solid orange; */
  /* background-color: #f3f6ef; */
  min-height: 60px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.Contact ul {
  /* border: 3px solid forestgreen; */
  display: flex;
  width: 100%;
  margin: 0%;
  padding: 0%;
  /* padding: 0 20px; */
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  /* flex-wrap: wrap; */
}

/* a, .fa .fa-envelope, .fa .fa-whatsapp, .fa .fa-instagram, .fa .fa-linkedin, .fa .fa-github */

.Contact ul li a:hover {
  transition: all 0.4s ease-in-out;
  color: #ffa600;
  padding: 5px 9.5px;
  text-shadow: 0.5px 0.5px 0.5px #000, 0.5px 0.5px 0.5px #000, 1px 1px 1px #000,
    0.5px 0.5px 0.5px #000;
}

.Contact ul li a {
  border: 3px solid;
  padding: 5px 10px;
  border-radius: 25px;
}

.Contact ul li .linkedin {
  /* text-shadow: 0.5px 0px 0px #000; */
  color: navy;
}

.Contact ul li .linkedin:hover {
  /* text-shadow: 0.5px 0px 0px #000; */
  background-color: navy;
  color: white;
  transition: all 0.7s ease-in-out;
}

.Contact ul li .github {
  text-shadow: 0.5px 0px 0px #000;
  color: #000;
}

.Contact ul li .github:hover {
  /* text-shadow: 0.5px 0px 0px #000; */
  background-color: black;
  color: white;
  transition: all 0.7s ease-in-out;
}

.Contact ul li .whatsapp {
  text-shadow: 1px 0px 0px #000;
  color: #00ff80;
}

.Contact ul li .whatsapp:hover {
  /* text-shadow: 0.5px 0px 0px #000; */
  background-color: #0f0;
  color: white;
  transition: all 0.7s ease-in-out;
}

.Contact ul li .instagram {
  text-shadow: 0.5px 0px 0px #000;
  color: rgb(252, 9, 220);
}

.Contact ul li .instagram:hover {
  /* text-shadow: 0.5px 0px 0px #000; */
  background-color: rgb(252, 9, 220);
  color: white;
  transition: all 0.7s ease-in-out;
}

.Contact ul li .envelope {
  text-shadow: 0.5px 0px 0px #000;
  color: #ff0000;
}

.Contact ul li .envelope:hover {
  /* text-shadow: 0.5px 0px 0px #000; */
  background-color: #f00;
  color: white;
  transition: all 0.7s ease-in-out;
}

/*******************************************************
*                      For Footer                      *
*******************************************************/

.Footer {
  text-align: center;
  padding: 2px;
  background-color: gray;
}

@media screen and (max-width: 830px) {
  .Home {
    display: flex;
    flex-direction: column-reverse;
  }
  .HomeDesc {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    padding: 0%;
    align-items: center;
    height: auto;
  }
  .HomeDesc h1 {
    margin-left: 0%;
    text-align: center;
  }
  .Profile {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Heading {
    padding: 0%;
    margin: 10px;
    font-size: 2rem;
  }

  .About .AboutPara {
    width: 80%;
    font-size: 1.5rem;
  }
  .Contact ul {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .Contact ul li {
    margin: 15px;
  }
}
